@tablet-width: 768px;
@desktop-width: 1440px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

/*-----Colors-----*/
@main-bg: #ECEBED;
@accent-color: #6979F8;
@primary-neutral-color: #151522;
@hover-neutral-color: #333333;
@active-neutral-color: #666666;
@light-primary-neutral-color: #999999;
@hover-light-primary-neutral-color: #E0E0E0;
@clear-neutral-color: #ffffff;
@secondary-gradient: linear-gradient(45deg, #cdddf4, #cdbafa);
